:root {
  --gray-color: #9e9e9e;
  --dark-gray-color: #565656;
  --darker-color: #424242;
  --light-orange-color: #fdf5e8;
  --orange-color: #ff8d41;
  --black-color: #424242;
  --bg-color: #eeeeee;
}

html {
  font-family: "Montserrat";
  color: var(--black-color);
}
