#our-bungalows-section .bungalows .bungalow-card {
  width: 100%;
  max-width: 23.75rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid var(--light-gray);
  position: relative;
  top: 0;
  transition: all 500ms ease-in-out;
}

#our-bungalows-section .bungalows .bungalow-card:hover {
  top: -1rem;
}

#our-bungalows-section .bungalows .bungalow-card .card-content {
  padding: 1.5rem 1rem;
}

#our-bungalows-section .bungalows .bungalow-card .card-title {
  text-align: center;
}

#our-bungalows-section .bungalows .bungalow-card .prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-bungalows-section .bungalows .bungalow-card .card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#our-bungalows-section .bungalows .bungalow-card .price {
  color: var(--dark-gray-color);
  font-size: 0.9rem;
}

@media screen and (min-width: 1300px) {
  #our-bungalows-section .bungalows .bungalow-card {
    width: 33%;
  }
}
