:root {
  --balck-color: #1e1e1e;
  --orange-color: #ff8d41;
}

button#back-to-top-btn {
  position: fixed;
  border-radius: 50%;
  top: 85%;
  right: 3%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--orange-color);
  color: var(--balck-color);
  border: 1px solid var(--orange-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.4s ease-in-out;
}

button#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

button#back-to-top-btn:hover {
  background-color: #e6762d;
  color: #ffffff;
}

button#back-to-top-btn .icon {
  font-size: 2rem;
}
