:root {
  --gray-color: #9e9e9e;
  --dark-gray-color: #565656;
  --darker-color: #424242;
}

#footer {
  padding: 3.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
  max-width: 1429px;
  margin: 0 auto;
}

#footer .all-rights-reserved-container {
  width: 80%;
}

#footer .all-rights-reserved-container .footer-logo {
  width: 30%;
  max-width: 110px;
  height: auto;
  margin-bottom: 1.5rem;
}

#footer .all-rights-reserved-container .all-rights-reserved-p {
  margin-bottom: 1rem;
}

#footer .all-rights-reserved-container .all-rights-reserved-p,
#footer .all-rights-reserved-container .email-address {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray-color);
}

#footer .quick-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2.9rem;
}

#footer .quick-links .footer-column {
  flex-grow: 1;
}

#footer .quick-links .footer-column .column-heading {
  font-size: 1rem;
  color: var(--darker-color);
  margin-bottom: 1.5rem;
}

#footer .quick-links .footer-column .footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

#footer .quick-links .footer-column .footer-links .item {
  font-size: 0.9rem;
  color: var(--gray-color);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

#footer .quick-links .footer-column .footer-links .item:hover {
  color: var(--dark-gray-color);
}

@media screen and (min-width: 885px) {
  #footer {
    padding: 6.25rem 5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
  }
  #footer .all-rights-reserved-container {
    width: 40%;
  }
  #footer .quick-links {
    width: 50%;
    flex-direction: row;

    justify-content: space-between;
  }
}
