.header {
  padding: 3.125rem 1.25rem;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .navbar .logo {
  flex: 0;
  width: 5rem;
}

.header .navbar .menu-button {
  background: none;
  border: none;
}

.header .navbar .menu-button .icon {
  color: white;
  font-size: 1.5rem;
}

.header .navbar .links {
  display: none;
}

.header .welcoming-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header .welcoming-container .main-part .welcome-to {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.header .welcoming-container .main-part .title-heading {
  font-size: 2rem;
}

.header .welcoming-container .secondary-title {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #d9d9d9;
  font-weight: bolder;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 880px) {
  .header {
    padding: 3.125rem 5rem;
  }

  .header .navbar {
    justify-content: center;
    gap: 10rem;
  }

  .header .navbar .links {
    display: flex;
    gap: 1.5rem;
  }

  .header .navbar .links .item {
    list-style: none;
  }

  .header .navbar .links .link {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all 400ms ease-in-out;
  }

  .header .navbar .links .link:hover {
    transform: scale(1.2);
    color: rgb(206, 201, 201);
  }

  .header .navbar .menu-button {
    display: none;
  }

  .header .welcoming-container .main-part .welcome-to {
    font-size: 1.125rem;
  }

  .header .welcoming-container .main-part .title-heading {
    font-size: 4rem;
  }

  .header .welcoming-container .secondary-title {
    font-size: 1rem;
  }
}
