.header {
  padding: 3.125rem 1.25rem;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 53.25rem;
  color: white;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .logo {
  width: 5rem;
}

.header .navbar .menu-button {
  background: none;
  border: none;
}

.header .navbar .menu-button .icon {
  color: white;
  font-size: 1.5rem;
}

.header .navbar .links {
  display: none;
}

.header .welcoming-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header .welcoming-container .main-part .welcome-to {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.header .welcoming-container .main-part .title-heading {
  font-size: 2rem;
}

.header .welcoming-container .secondary-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #d9d9d9;
  font-weight: bolder;
  letter-spacing: 0.2px;
}
