ul {
  padding: 0;
}

.header {
  padding: 3.125rem 1.25rem;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
}

.header .navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .navbar .off-screen-menu {
  width: 100%;
  padding: 1.5rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -500%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.header .navbar .off-screen-menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.header .navbar .off-screen-menu .links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header .navbar .logo {
  flex: 0;
  width: 5rem;
}

.header .navbar .menu-button {
  z-index: 1000;
  background: none;
  border: none;
}

.header .navbar .menu-button .icon {
  color: white;
  font-size: 1.5rem;
}

.header .navbar .menu-button .close {
  display: none;
}

.header .navbar .links {
  display: none;
}

.header .navbar .item {
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

.header .navbar .item:hover {
  color: rgba(185, 183, 183, 0.765);
}

.header #welcoming-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header #welcoming-container .main-part .welcome-to {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.header #welcoming-container .main-part .title-heading {
  font-size: 2rem;
}

.header #welcoming-container .secondary-title {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #d9d9d9;
  font-weight: bolder;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 880px) {
  .header {
    padding: 3.125rem 5rem;
  }

  .header .navbar {
    justify-content: center;
    gap: 10rem;
  }

  .header .navbar .links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .header .navbar .links .item {
    list-style: none;
  }

  .header .navbar .links .link {
    text-decoration: none;
    color: white;
  }

  .header .navbar .menu-button {
    display: none;
  }

  .header .off-screen-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .header #welcoming-container .main-part .welcome-to {
    font-size: 1.125rem;
  }

  .header #welcoming-container .main-part .title-heading {
    font-size: 4rem;
  }

  .header #welcoming-container .secondary-title {
    font-size: 1rem;
  }
}
