@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --orange-color: #ff8d41;
  --black-color: #424242;
}

html {
  font-family: "Montserrat";
  color: var(--black-color);
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;
}

.section-header .main-heading {
  font-size: 1rem;
  color: var(--gray-color);
  margin-bottom: 1.5rem;
}

.section-header .secondary-heading {
  font-size: 1.3rem;
  font-weight: bold;
}

.section-header .secondary-heading .special-word {
  color: var(--orange-color);
}

@media screen and (min-width: 1300px) {
  .section-header {
    text-align: center;
    margin-bottom: 6.25rem;
  }
  .section-header .secondary-heading {
    font-size: 2.25rem;
  }
}
