@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

/* Header  */

.header {
  padding: 3.125rem 1.25rem;
  background-image: url("../images/header-background-image.jpg");
  background-size: cover;
  background-position: center;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .logo {
  width: 5rem;
}

.header .navbar .menu-button {
  background: none;
  border: none;
}

.header .navbar .menu-button .icon {
  color: white;
  font-size: 1.5rem;
}

.header .navbar .links {
  display: none;
}
